---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Casual, boardwalk-inspired seafood bar and restaurant. Located in Adams Morgan, Washington, D.C. By the folks who brought you Cashion's Eat Place.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pop's SeaBar</title>
        <link rel="shortcut icon" href="/images/favicon.png">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
        {% if site.github %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
        {% else %}
        <link rel="stylesheet" href="bower_components/fancybox/source/jquery.fancybox.css">
        {% endif %}
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet"  href="http://fonts.googleapis.com/css?family=Boogaloo">
    </head>

    <body>
        <h1 class="visuallyhidden">Pop's SeaBar</h1>

        <div class="notification-box shadow-box">
            <div class="notification-box__message">
                Want free beer for life? Check out <a href="http://us2.campaign-archive2.com/?u=264c9016e3bef6126fb2710db&id=186cc0ee77&e=51319ec09b">#DCKoozieChronicles</a>!
            </div>
            <a title="Close" class="js-notification-box-close fancybox-close" href="javascript:void(0);"></a>
        </div>

        <div class="flex-center">
            <div class="container">
                <img class="logo half-step mobile-only" src="/images/logo-white.svg" alt="Pop's Logo">

                <div class="menu shadow-box half-step not-mobile"></div>

                <nav class="navbar">
                    <ul class="navbar__nav list--inline-block list--no-bullets">
                        <li class="mobile-only"><a href="downloads/pops-menu.pdf" target="_blank">Menu</a></li>
                        <li><a class="js-modal" href="#our-story">Our Story</a></li>
                        <li><a class="js-modal" href="#find-us">Find Us</a></li>
                        <li><a target="_blank" href="https://www.trycaviar.com/washington-dc/pops-seabar-731">Delivery</a></li>
                        <li><a target="_blank" href="https://www.giftrocker.com/secure/order/?hash=41da2364">Gift Certificates</a></li>
                        <li><a class="js-mailchimp-popup" href="http://eepurl.com/5heW5">Email List</a></li>
                    </ul>
                    <ul class="navbar__social-nav list--inline-block list--no-bullets not-mobile">
                        <li><a class="icon icon--twitter" href="https://twitter.com/popsseabar"><span class="visuallyhidden">Twitter</span></a></li>
                        <li><a class="icon icon--facebook" href="https://www.facebook.com/popsseabar"><span class="visuallyhidden">Facebook</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="our-story" class="fancybox-content fancybox-content--left-align">
            <h2 class="fancybox-content__heading fancybox-content__heading--our-story rhythm">
                <span class="visuallyhidden">About Pop's</span>
            </h2>
            <p>Pop's SeaBar is brought to you by business partners Chef John Manolatos and Justin Abad of Cashion's Eat Place.</p>
            <p>The project is a Mom &amp; Pop's, boardwalk-inspired, seafood bar and restaurant. The concept was inspired by the time that each of them spent on the Jersey Boardwalk (John) and Gulf Beaches of St. Petersburg, Florida (Justin) as children with their families.</p>
            <p>It's a playful and referential look back at the care-free establishments that made "Going to the Beach" such an exciting thing to hear while growing up!</p>
            <p>The mantra at Pop's: Everyone relax. It's a place where you can drink a cold, canned beer, sip on traditional boardwalk cocktails like an orange crush or Lime Rickey (with our twist, of course), and slurp down some oysters from our raw bar or snack on our "Famous Boardwalk Chicken" with friends and family.</p>
            <p>While casual and friendly, the staff is comprised of true bar and culinary pros that take hospitality very seriously. And that's about the only thing we plan on taking seriously!</p>
            <p>Join us for lunch or dinner 7 days a week and don't forget to stop by our sister restaurant, Cashion's Eat Place, right next door!</p>
        </div>

        <div id="find-us" class="fancybox-content">
            <h2 class="fancybox-content__heading fancybox-content__heading--find-us rhythm">
                <span class="visuallyhidden">Find Us</span>
            </h2>
            <ul class="list--no-bullets step">
                <li><a href="https://goo.gl/maps/gsT2r" target="_blank">1817 Columbia Road NW<br>Washington, DC 20009</a></li>
                <li>(202) 534-3933</li>
                <li><a href="mailto:info@popsseabar.com">info@popsseabar.com</a></li>
            </ul>
            <h3 class="baby-step">Hours</h3>
            <ul class="list--no-bullets baby-step">
                <li>Sun-Thurs: noon-midnight</li>
                <li>Fri-Sat: noon-2:00am</li>
            </ul>
        </div>

        {% if site.github %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        {% else %}
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/fancybox/source/jquery.fancybox.js"></script>
        {% endif %}
        <script>
            (function($, window, document, undefined) {
                $(document).ready(function() {
                    $('.js-mailchimp-popup').click(function(e) {
                        e.preventDefault();
                        var href = $(this).attr('href');
                        window.open(href, "Email Signup", "height=770,width=700,resizable=1");
                    });
                    $('.js-modal').fancybox({
                        padding: 32
                    });
                    $('.js-notification-box-close').click(function() {
                        $('.notification-box').slideUp();
                    });
                });
            })(jQuery, window, document);
        </script>
    </body>
</html>
