<!DOCTYPE html>
{% load compress grp_tags staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Casual, boardwalk-inspired seafood bar and restaurant. Located in Adams Morgan, Washington, D.C. By the folks who brought you Cashion's Eat Place.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% get_site_title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">

        {% block styles %}{% endblock %}
        {% compress css %}<link rel="stylesheet" type="text/x-scss" href="{% static 'sass/app.scss' %}">{% endcompress %}
        <link rel="stylesheet"  href="//fonts.googleapis.com/css?family=Boogaloo">
    </head>

    <body>
        {% block main %}{% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/lib/jquery.min.js' %}"><\/script>')</script>

        {% block scripts %}{% endblock %}
    </body>
</html>

