{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'lib/fancybox/source/jquery.fancybox.css' %}">
{% endblock %}

{% block main %}
        <div class="itemscope" itemscope itemtype="http://schema.org/Restaurant">
            <a class="visuallyhidden" href="/" itemprop="url">
                <h1 itemprop="name">Pop's SeaBar</h1>
            </a>

            {% if options.alert_copy %}
            <div class="notification-box shadow-box">
                <div class="notification-box__message">
                    {% autoescape off %}
                    {{ options.alert_copy }}
                    {% endautoescape %}
                </div>
                <a
                 class="js-notification-box-close fancybox-close"
                 href="javascript:void(0);"
                 title="Close"></a>
            </div>
            {% endif %}

            <div class="flex-center">
                <div class="container">
                    <img
                     class="logo half-step mobile-only"
                     alt="Pop's Logo"
                     itemprop="logo"
                     src="{% static 'img/logo-white.svg' %}">

                    <div class="menu-container">
                        <div class="menu shadow-box half-step not-mobile" style="padding-bottom: {{ menu.aspect_ratio }}">
                            {% thumbnail menu.url "1920" as image %}
                            <div class="menu__img" style="background-image: url({{ image.url }});">
                            {% empty %}
                            <div class="menu__img">
                            {% endthumbnail %}
                            </div>
                            <div itemprop="menu">
                                {% if items %}
                                {% regroup items by section as sections %}
                                {% for section in sections %}
                                <section>
                                    <h2>{{ section.grouper }}</h2>
                                    <ul>
                                        {% for item in section.list %}
                                        <li>
                                            <h3>{{ item.name }}</h3>
                                            Description: {% if item.description %}{{ item.description }}{% endif %}
                                            Price: {% if item.market_price %}MP{% else %}${{ item.price }}{% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </section>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <nav class="navbar">
                        <ul class="navbar__nav list--inline-block list--no-bullets">
                            {% thumbnail menu.url "1920" as image %}
                            <li class="mobile-only"><a href="{{ image.url }}" target="_blank">Menu</a></li>
                            {% endthumbnail %}
                            <li><a class="js-modal" href="#our-story">Our Story</a></li>
                            <li><a class="js-modal" href="#find-us">Find Us</a></li>
                            <li><a target="_blank" href="{{ options.delivery_url }}">Delivery</a></li>
                            <li><a class="not-mobile" href="{% url 'catering:index' %}">Catering</a></li>
                            <li><a target="_blank" href="{{ options.gift_certificates_url }}">Gift Certificates</a></li>
                            <li><a class="js-mailchimp-popup" href="{{ options.email_signup_url }}">Email List</a></li>
                        </ul>
                        <ul class="navbar__social-nav list--inline-block list--no-bullets not-mobile">
                            <li>
                                <a class="icon icon--twitter" href="https://twitter.com/popsseabar">
                                    <span class="visuallyhidden">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a class="icon icon--facebook" href="https://www.facebook.com/popsseabar">
                                    <span class="visuallyhidden">Facebook</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            {% autoescape off %}
            <div id="our-story" class="fancybox-content fancybox-content--left-align">
                <h2 class="fancybox-content__heading fancybox-content__heading--our-story rhythm">
                    <span class="visuallyhidden">About Pop's</span>
                </h2>
                {{ options.our_story_copy|linebreaks }}
            </div>

            <div id="find-us" class="fancybox-content">
                <h2 class="fancybox-content__heading fancybox-content__heading--find-us rhythm">
                    <span class="visuallyhidden">Find Us</span>
                </h2>
                <p class="list--no-bullets step">
                    {{ options.address|linebreaksbr }}
                </p>
                <h3 class="baby-step">Hours</h3>
                <p class="list--no-bullets baby-step">
                    {{ options.hours|linebreaksbr }}
                </p>
            </div>
            {% endautoescape %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'lib/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script>
        $(function() {
            $('.js-mailchimp-popup').click(function(e) {
                e.preventDefault();
                var href = $(this).attr('href');
                window.open(href, "Email Signup", "height=770,width=700,resizable=1");
            });
            $('.js-modal').fancybox({
                padding: 32
            });
            $('.js-notification-box-close').click(function() {
                $('.notification-box').slideUp();
            });
        });
    </script>
{% endblock %}
