{% if items %}
    {% regroup items by section as sections %}
        {% for section in sections %}
        <section>
            <h2>{{ section.grouper }}</h2>
            <ul>
            {% for item in section.list %}
                <li>
                    <h3>{{ item.name }}</h3>
                    Description: {% if item.description %}{{ item.description }}{% endif %}
                    Price: {% if item.market_price %}MP{% else %}${{ item.price }}{% endif %}
                </li>
            {% endfor %}
            </ul>
        </section>
        {% endfor %}
{% endif %}
