/* ==========================================================================
   Base styles
   ========================================================================== */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::selection {
    background: $bgcolor;
}

::-moz-selection {
    background: $alt-color;
}

html {
    color: $bgcolor;
    font-size: 1em;
    line-height: 1.4;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $body-fonts;
    color: $menu-color;
    background-color: transparent;
    background-image: url(/static/img/bg.png);
    background-repeat: repeat;
    background-position: 50% 0;
    text-align: center;
    background-size: 33px 5px;
}

@media only screen and (min-width: 48rem) {
    body {
        background-size: 65px 10px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
    body {
        background-image: url(/static/img/bg@2x.png);
    }
}

a {
    color: $menu-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

