/* ==========================================================================
   Catering
   ========================================================================== */

.catering-box {
    text-align: left;
    min-width: 640px;
    max-width: 812px;
    margin: 0 auto;
}

.catering-alpha {
}

.catering-beta {
}

.catering-gamma {
}

.catering-table {
    border-collapse: collapse;
    width: 100%;
}

    .catering-table__row {
        border-bottom: thin LightGray solid;
    }

    .catering-table__heading {
        font-weight: 400;
        font-size: 0.8em;
        vertical-align: bottom;
        color: LightGray;
    }

    .catering-table__heading--section h3 {
        margin-bottom: 0;
        margin-top: 2px;
    }

    .catering-table__heading--price {
        padding-right: 10px;
    }

    .catering-table__heading--qty {
        text-align: right;
    }

    .catering-table__item {
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 7px;
        width: 300px;
    }

    .catering-table__description {
        font-style: italic;
        font-size: 0.8em;
        display: block;
    }

    .catering-table__price {
        font-size: 0.8em;
        padding-top: 9px;
        padding-right: 8px;
        padding-bottom: 7px;
    }

    .catering-table__price,
    .catering-table__qty {
        vertical-align: top;
        width: 15%;
    }

    .catering-table__qty {
        text-align: right;
        padding-top: 6px;
        padding-bottom: 7px;
    }

.catering-list {
    li {
        margin-bottom: 2px;
    }

    label {
        display: inline-block;
        width: 100px;
        text-align: right;
        font-size: 0.8em;
        vertical-align: top;
    }

    input {
        padding: 2px 4px;
        width: 196px;
        font-family: 'Lucida Grande', sans-serif;
        border: solid 1px Gainsboro;
        vertical-align: top;
    }

    textarea {
        padding: 2px 4px;
        display: inline-block;
        width: 350px;
        resize: none;
        margin-top: 2px;
        border: solid 1px Gainsboro;
        font-family: 'Lucida Grande', sans-serif;
    }

    .errorlist {
        @extend .list--inline-block;
        display: block;
        vertical-align: top;
        margin-bottom: 0;
        margin-left: 100px;
        padding-left: 2px;
        font-size: 0.667em;
        color: $alert;
    }

    @media screen and (min-width: 48em) {
        .errorlist {
            display: inline-block;
            margin-left: 0;
        }
    }

    #id_contact-zip_code,
    #id_contact-catering_date {
        width: 78px;
    }

    #id_contact-captcha_1 {
        width: 60px;
    }

}

#ui-datepicker-div {
    font-size: 0.667em;
}

.catering-button {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 104px;
    margin-right: 15px;
}

.catering-link {
    position: relative;
    font-size: 0.8em;
    text-decoration: underline;
    text-transform: lowercase;
}


