{% extends 'base.html' %}
{% load grp_tags %}

{% block title %}Catering | {% get_site_title %}{% endblock %}

{% block main %}
    {% if catering_items_and_formset %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ catering_formset.management_form }}

        {% if catering_formset.errors %}
        <div>
            {{ catering_formset.errors }}
        </div>
        {% endif %}

        <table>
        {% for item, form in catering_items_and_formset %}
        <tr>
            <th>{{ item }}</th>
            <th>{{ item.section }}</th>
            <td>{{ form.qty.help_text }}</td>
            <td>{{ form.qty.label_tag }} {{ form.qty }} {{ form.qty.errors }}</td>
            <td>{{ form.non_field_errors }}</td>
        </tr>
        {% endfor %}
        </table>

        <table>
            {{ contact_form.as_table }}
        </table>

        <input type="submit" value="Submit" class="submit">
    </form>
    {% endif %}


{% endblock %}
