{% extends 'base.html' %}
{% load compress grp_tags static %}

{% block title %}Catering | {% get_site_title %}{% endblock %}

{% block styles %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'lib/jquery-ui/themes/smoothness/jquery-ui.css' %}">
    {% endcompress %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="box catering-box shadow-box">
            <h1>Pop's SeaBar Catering</h1>
            <div class="rhythm">
                {% autoescape off %}
                {{ catering_page_copy|linebreaks }}
                {% endautoescape %}
            </div>

            {% if catering_items_and_formset %}
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ catering_formset.management_form }}

                {% for item, form in catering_items_and_formset %}
                {% ifchanged item.section %}
                {% if not forloop.first %}
                </table>
                {% endif %}
                <table class="catering-table rhythm">
                    <tr class="catering-table__row">
                        <th class="catering-table__heading--section">
                            <h3>{{ item.section }}</h3>
                        </th>
                        <th class="catering-table__heading catering-table__heading--price">Price</th>
                        <th class="catering-table__heading catering-table__heading--qty">Quantity</th>
                    </tr>
                {% endifchanged %}
                    <tr class="catering-table__row">
                        <td class="catering-table__item">
                            {{ item }}
                            {% if item.description %}<span class="catering-table__description">{{ item.description }}</span>{% endif %}
                        </td>
                        <td class="catering-table__price">
                            {% if item.market_price %}
                            <span title="Market Price">MP</span>
                            {% else %}
                            ${{ item.catering_price }}
                            {% endif %}
                        </td>
                        <td class="catering-table__qty">
                            {{ form.qty }}
                        </td>
                    </tr>
                {% if forloop.last %}
                </table>
                {% endif %}
                {% endfor %}

                <h2 class="rhythm-plus-top">Contact Information</h2>
                <ul class="catering-list list--no-bullets clearfix">
                    {% for form in contact_form %}
                    <li>
                        {{ form.label_tag }}
                        {{ form }}
                        {{ form.errors }}
                    </li>
                    {% endfor %}
                </ul>

                <button class="catering-button" type="submit">Submit</button>
                <a class="catering-link" href="/">back</a>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% compress js %}
    <script src="{% static 'lib/jquery-ui/ui/datepicker.js' %}"></script>
    <script>
        $(function() {
            var dateToday = new Date();
            $('.datepicker').datepicker({
                autoSize: true,
                maxDate: '+3m',
                minDate: dateToday
            });
        });
    </script>
    {% endcompress %}
{% endblock %}

